:root {
  --white: hsl(0, 0%, 100%);
  --green: rgba(65, 200, 100, 1);
  --yellow: rgba(233, 225, 85, 1);
  --lightgray: hsl(0, 0%, 85%);
  --darkgray: hsl(0, 0%, 50%);
  --background: hsl(0, 0%, 100%);
  --text-primary: hsl(0, 0%, 0%);
  --text-secondary: hsl(0, 0%, 100%);
  --toggle-bg: rgba(65, 200, 100, 1);
}

html[data-theme="light"] {
  --green: rgba(65, 200, 100, 1);
  --yellow: rgba(233, 225, 85, 1);
  --lightgray: hsl(0, 0%, 85%);
  --darkgray: hsl(0, 0%, 50%);
  --background: hsl(0, 0%, 100%);
  --text-primary: hsl(0, 0%, 0%);
  --text-secondary: hsl(0, 0%, 100%);
}

html[data-theme="dark"] {
  --green: rgba(65, 200, 100, 1);
  --yellow: rgba(233, 225, 85, 1);
  --lightgray: hsl(0, 0%, 25%);
  --darkgray: hsl(0, 0%, 50%);
  --background: hsl(0, 0%, 10%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 100%);
}

html[data-cb="more"] {
  --green: rgb(250, 157, 51);
  --yellow: rgb(55, 192, 255);
  --toggle-bg: rgb(250, 157, 51);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--background);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
}